 body{
           
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("https://www.shutterstock.com/shutterstock/videos/1014989830/thumb/1.jpg?ip=x480");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            margin: 0;
            padding: 0;
           }
           
          
            nav{
                background-color: #09efff;
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-flow: wrap;
                
            }
            ul{
                display: flex;
                flex-flow: wrap;
                gap: 50px;
                font-size: 30px;
            }
            li{
                list-style: none;
            }
            a{
                text-decoration: none;
                color: white;
            }
         @media screen and (max-width:480px)   {
          .fa-list {
            display: block;
            align-self: flex-end;
            margin: 10px 20px;
          }
          nav {
            flex-direction: column;
            align-items: stretch;
          }
          nav ul {
            display: none;
            
          }
          nav ul.active {
            display: flex;
            flex-direction: column;
            height: auto;
          }
          nav ul li {
            display: block;
            margin: 10px 0;
            text-align: center;
          }
        }
           
           
        
        @media screen and (max-width:480px) {
            ul{
                display: none;
            }
            nav{
                height: auto;
            }
              

        }
          @media screen and (min-width:481px){
             .fa-list{
                display: none;
            }
            nav{
                height: auto;
            }
          }
              
             
         @media screen and  (min-width:720px) and (max-width: 1500px) {
                body{
                    height: auto;
                }
            }
             @media screen and (min-width :481px)  and (max-width:720px){
                body{
                    height: auto;
                }
            }
              @media screen and (min-width :0px)  and (max-width :480px){
                body{
                    height: auto;  
                }
            }

     h1{
               background:linear-gradient(135deg, #09efff 0%, #ffffff 50%, #f608ba 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               font-size: 50px;
             }
             i{
               
                font-size: 60px;
                background:linear-gradient(135deg, #09efff 0%, #ffffff 50%, #f608ba 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
             }
             
        p{
            font-size:x-small;
            color: whitesmoke;
        }
        
       
        .div1{
            display: flex;
           
            height: 250px;
            justify-content: center;
            flex-flow: column;
            align-items: center;

        }
        .container{
          
        }
         .maindiv{
            width: 100%;
            height: auto;
            
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            align-items: center;
            color: whitesmoke;
            transition: all 0.3s ease;
            gap: 40px;
            margin-bottom: 50px;
           
          
       

        }
        
       @media screen and (max-width:480px){
        .maindiv{
            
            flex-flow: wrap;



        }
    }
        @media screen and (max-width:768px){
        
        
        
       }
        .innerdiv{
            width:150px;
            height: 150px;
           background-color: rgba(255, 255, 255, 0.15);
           backdrop-filter: blur(10px) saturate(150%);
            border-radius: 15px;
            border: 0px solid   rgb(0, 255, 255);
            padding-left: 10px;
            
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            transition: all 0.3s ease-in; 
            cursor: pointer;
            animation-name: card;
            animation-duration: 3s;
            animation-iteration-count: infinite;
      }
      @keyframes card{
        from{
            scale: 1;
        }
        to{
            scale: 0.90;
        }

      }
    
         .innerdiv:hover{
            border: 1px solid  rgb(0, 255, 255);
            box-shadow: 0px 0px 10px 10px   rgb(11, 50, 75);
            background-color: rgba(255, 255, 255, 0.05);
            translate: 0% -5%;
            
            
        }
       
        .circle{
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            color: rgb(4, 144, 144);
           
        }
        .circle:hover{
              cursor: pointer;
            border-width: 10px;
         border: 2px solid;
         box-shadow: 0px 0px 10px 10px   rgb(11, 50, 75);
          translate: 0% -20% ;
            
        }
        .footer{
            text-align: center;
        }
        span{
            color: rgb(10, 196, 196);
        }
        span:hover{
            cursor: pointer;
            color: #c52c9f;
        }
